/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.txtlight {
  color: #a9a9a9;
}

.txtdark {
  color: #4a4a4a;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}
h1 {
  font-weight: 600;
  font-size: 225%;
  line-height: 1.0;
}

h2 {
  font-weight: 700;
  font-size: 200%;
  line-height: 1.0;
}

h3 {
  font-weight: 600;
  font-size: 100%;
  line-height: 1.4;
}

h4 {
  font-size: 80%;
  line-height: 1.5;
}

.dark-background {
  background-color: #a9a9a9;
}

.light-background {
  background-color: #e6e6e6;
}


/* .image-container {
  overflow: hidden;
}
*/

/* Mobile Universal Styles */

@media only screen and (max-width: 480px) {
  h1 {
    font-weight: 600;
    font-size: 200%;
    line-height: 1.0;
  }

  h2 {
    font-weight: 700;
    font-size: 175%;
    line-height: 1.0;
  }
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

header img {
  flex: 1;
}

header .logo {
  display: flex;
  align-items: center;
}

header .bold {
  font-weight: bold;

}

header nav ul {
  display: flex;
}

header nav li {
  padding-left: 1rem;
}

header nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;

}

header .mobile {
  display: none;
}

/* Mobile Header Section */
@media only screen and (max-width: 480px) {
  header .desktop {
    display: none;
  }

  header .content {
    padding: 1rem 0;
    height: 2rem;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}


/* Main Content */

/*
.section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
*/
/* Section 1: banner etc. */
.intro {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 450px;
  padding: 2rem 1.5rem;
}

.banner-img {
  width: 60%;
  height: inherit;
  }

.banner-text {
  display: flex;
  flex-direction: column;
  padding: 0 5rem 0 1.5rem;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.banner-text h1 {
    padding-bottom: 2rem;
}

.banner-text h3 {
    padding-bottom: 1.5rem;
}

.banner-text .button {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

.banner-text .button a {
  color: white;
}

/* Mobile: Section 1: banner etc. */
@media only screen and (max-width: 480px) {

  .intro {
      flex-direction:column;
      height: auto;
      padding: 0;
  }

  .banner-img {
    width: 100%;
    height: 175px;
  }
  .banner-text {
    display: block;
    padding: 2rem 1rem;
  }

}
/* Section 2: Orientation, etc */
/* information-main */
.information {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 1.5rem;
}

.campus-image {
  width: 60%;
}

/*width is 98% of the 60% container .course-image to match the image in banner section. Had to do this to accomodate the need for padding and right border */
.campus-img {
  width: 98%;
  height: 300px;
}

.campus-image h2 {
  padding-top: 2rem;
}

.campus-image h4 {
  padding-top: 1.5rem;
}

/* information details */

.campus-info {
  width: 40%;
}
.flex {
  display: flex;
}

.info {
  padding: 1rem 1rem;
  height: 150px;
  border: solid 1px #c6c1c1;
}

.info-img {
  width: 35%;
  height: auto;
}

.info-text {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  height: inherit;
  justify-content: center;
}

.info-text h4 {
  padding-top: 1rem;
}

.info-text .link {
  color: blue;
  padding-top: 1rem;
}

/* Mobile Section3 Information */
@media only screen and (max-width: 480px) {
  .information {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    padding: 0;
  }
  .information .desktop {
    display: none;
  }
  .information .campus-info {
    width: 100%;
  }
  .information .info {
    flex-direction: column;
    /* padding: 1rem 1rem; */
    height: auto; /*150px; */
    /* border: solid 1px #c6c1c1; */
  }
  .info .info-img {
    width: 100%;
    height: 200px;
    /* height: 250px; */
    padding-bottom: 1rem;
    /* align-self: center; */
  }
  .info-text {
    padding-left: 1rem;
    height: auto;
    justify-content: flex-start;
  }

}
/* Section 3 : Courses */

.learning {
/* width: 100%; */
padding: 2rem 2rem;
}

.learning h1 {
  text-align: center;
}
.courses {
  padding: 1rem;
  flex-wrap: wrap;
}

.course-info {
  margin: 1rem;
  width: 30%;
  height: 325px;
  background-color: white;
}

.course-img {
  width: 100%;
  height: auto;
}

.course-info h3 {
  padding-top: 1rem;
  padding-left: 1rem;
}

.course-info h4 {
  padding-top: .75rem;
  padding-left: 1rem;
  /* font-size: 80%; */
  /* line-height: 1.5; */
}

/* Section 4 : Thesis */
.thesis h1 {
    text-align: center;
    padding-top: 2rem;
}

.exhibits {
  padding: 2rem 1.5rem;
  border-bottom: solid 1px #c6c1c1;
}
.urbanvideo{
  width:60%;
  margin-right: 1.5rem;
}
/*  can be deleted? */
.thesis-video {
  margin-bottom: 1.5rem;
}

/*
.urbanvideo h3 {
  padding-top: 1.5rem;
}
*/
.exhibits h4 {
  padding-top: .5rem;
}

.thesis-types {
  display: block;
}

.thesis-detail {
  padding: 1rem 1rem;
}

.thesis-img {
  width: 35%;
  height: 180px;  /* auto elongated it */
  padding-right: 1rem;
}

.thesis-text {
   flex-direction: column;
   justify-content: center;
   padding-right: 2rem;
}

/* Footer  */
footer {
  padding: 1rem 1.5rem;
}

footer .content {
  display: flex;
  justify-content: space-between;
}

footer p{
  font-size: .7rem;
}

footer nav a {
  padding-left: 1rem;
  font-size: .7rem;
}
